<?xml version="1.0" encoding="UTF-8"?>
<Envelope xmlns="http://schemas.xmlsoap.org/soap/envelope/"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Body>
        <ImportCtg xmlns="http://tempuri.org/">
            <reg>
                <contactField xmlns="http://schemas.datacontract.org/2004/07/Milou.Server.ImportCtg">
                    <gestationField xsi:nil="true"/>
                    <parityField xsi:nil="true"/>
                    <timeField><%= start_time %></timeField>
                </contactField>
                <ctgField xmlns="http://schemas.datacontract.org/2004/07/Milou.Server.ImportCtg"><%= gziped_ctgs %></ctgField>
                <deviceIDField xmlns="http://schemas.datacontract.org/2004/07/Milou.Server.ImportCtg"><%= device_name %></deviceIDField>
                <endTimeField xmlns="http://schemas.datacontract.org/2004/07/Milou.Server.ImportCtg"><%= end_time %></endTimeField>
                <locationField xmlns="http://schemas.datacontract.org/2004/07/Milou.Server.ImportCtg">
                    <clinicField xsi:nil="true"/>
                    <roomField>
                        <nameField>Home</nameField>
                    </roomField>
                    <wardField xsi:nil="true"/>
                </locationField>
                <markersField xmlns="http://schemas.datacontract.org/2004/07/Milou.Server.ImportCtg">
                    <%= for signal_time <- signals do %>
                    <dateTime xmlns="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><%= signal_time %></dateTime>
                    <% end %>
                </markersField>
                <patientField xmlns="http://schemas.datacontract.org/2004/07/Milou.Server.ImportCtg">
                    <idField><%= patient_external_id %></idField>
                    <nameField>
                        <firstField><%= patient_first_name %></firstField>
                        <lastField><%= patient_last_name %></lastField>
                        <middleField xsi:nil="true"/>
                    </nameField>
                </patientField>
                <startTimeField xmlns="http://schemas.datacontract.org/2004/07/Milou.Server.ImportCtg"><%= start_time %></startTimeField>
                <tocoShiftField xmlns="http://schemas.datacontract.org/2004/07/Milou.Server.ImportCtg"><%= ua_delay %></tocoShiftField>
            </reg>
        </ImportCtg>
    </Body>
</Envelope>
