<?xml version="1.0" encoding="UTF-8"?>
<Envelope xmlns="http://schemas.xmlsoap.org/soap/envelope/">
    <Body>
        <NewMessage xmlns="http://tempuri.org/">
            <message>
                <ctgField xmlns="http://schemas.datacontract.org/2004/07/Milou.Server.OpenTeleRT">
                <%= for sample <- samples do %>
                    <CtgMessageBlock>
                        <fhrField><%= sample.fhr %></fhrField>
                        <mhrField><%= sample.mhr %></mhrField>
                        <sequenceNbrField><%= sample.count %></sequenceNbrField>
                        <sqField><%= sample.qfhr %></sqField>
                        <timeField><%= sample.read_time %></timeField>
                        <tocoField><%= sample.toco %></tocoField>
                    </CtgMessageBlock>
                <% end %>
                </ctgField>
                <deviceIDField xmlns="http://schemas.datacontract.org/2004/07/Milou.Server.OpenTeleRT"><%= meta.device_name %></deviceIDField>
                <%= if Enum.empty? signals do %>
                    <markersField xmlns="http://schemas.datacontract.org/2004/07/Milou.Server.OpenTeleRT" nil="true"></markersField>
                <% else %>
                    <markersField xmlns="http://schemas.datacontract.org/2004/07/Milou.Server.OpenTeleRT">
                    <%= for signal <- signals do %>
                        <dateTime xmlns="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><%= signal.signal_time %></dateTime>
                    <% end %>
                    </markersField>
                <% end %>
                <patientField xmlns="http://schemas.datacontract.org/2004/07/Milou.Server.OpenTeleRT">
                    <idField><%= patient_reference.unique_id %></idField>
                    <nameField>
                        <firstField><%= patient_reference.first_name %></firstField>
                        <lastField><%= patient_reference.last_name %></lastField>
                    </nameField>
                </patientField>
                <registrationIDField xmlns="http://schemas.datacontract.org/2004/07/Milou.Server.OpenTeleRT"><%= meta.registration_id %></registrationIDField>
                <tocoShiftField xmlns="http://schemas.datacontract.org/2004/07/Milou.Server.OpenTeleRT"><%= meta.ua_delay %></tocoShiftField>
            </message>
        </NewMessage>
    </Body>
</Envelope>
