<?xml version="1.0" encoding="UTF-8"?>
<Envelope xmlns="http://schemas.xmlsoap.org/soap/envelope/">
    <Body>
        <StopRegistration xmlns="http://tempuri.org/">
            <deviceID xmlns="http://schemas.datacontract.org/2004/07/Milou.Server.OpenTeleRT"><%= meta.device_name %></deviceID>
            <registrationID xmlns="http://schemas.datacontract.org/2004/07/Milou.Server.OpenTeleRT"><%= meta.registration_id %></registrationID>
            <stopTime xmlns="http://schemas.datacontract.org/2004/07/Milou.Server.OpenTeleRT"><%= stop.stop_time %></stopTime>
        </StopRegistration>
    </Body>
</Envelope>
